<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsNoSecurity">
          <reliableSession ordered="false" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Server.CounterService">
        <endpoint address="ws" binding="wsHttpBinding" name="wsDefault"
          contract="Contract.ICounter">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="wsNoSec" binding="wsHttpBinding" bindingConfiguration=""
          name="wsNoSecurity" bindingName="" contract="Contract.ICounter">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="base" binding="basicHttpBinding" name="baseDefault"
          contract="Contract.ICounter" />
        <endpoint address="net.pipe://localhost/Service/netNamedPipe"
          binding="netNamedPipeBinding" name="netNamedPipeDefault" contract="Contract.ICounter" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>